body {
    
}


.secHeader{
display:inline;

background-color:red;


}


div:hover a{
    color: white;
    cursor:pointer;
}


@media only screen and (max-width: 775px) {
    #templeName{
        visibility:hidden;
    }
    #logo {
        visibility: hidden;
    }
    div #events {
        visibility: hidden;
    }
    
}
